@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* Keyframes for blink option */

@keyframes blink {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* Variables */
:root {
  --font-family: "Twemoji Country Flags", 'PT Serif', serif;
  --bg-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #4756df;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

/* social icons no underline */

.fa-brands {
  text-decoration: none !important;
}

/* navigation bar css */

nav {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 2.0rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  font-size: 18px;
}

nav p {
  padding: 10px;
}

nav h1 {
  padding: 5px;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-links ul a {
  text-decoration: none;
  color: var(--primary-color);
  display: block;
  text-decoration: none;
  padding: 1.5rem;
}

.toggle-button {
  position: absolute;
  display: none;
  top: 3.75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  align-self: center;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: black;

}

/* responsive design css code for navbar */

@media (max-width: 600px) {

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links.active {
    display: flex;
  }

  .socials {
    display: none;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
    text-decoration: underline
  }

  .navbar-links li a {
    padding: .8rem;
  }
}

/* Linkedin */
.fa-linkedin {
  background: white;
  color: #000000;

}

.talents {
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 1em;
  margin-left: 1.5em;
  color: black;
  font-size: 78px;
  font-weight: bold;

}

.talents p {
  margin-bottom: 0.1em;
  width: fit-content;
}

.typing-container {
  display: flex;
  width: fit-content;
}

.input-cursor {
  display: inline-flex;
  width: 1px;
  height: 72px;
  background-color: black;
  margin-left: 6px;
  margin-top: 15px;
  animation: blink .6s linear infinite alternate;
}

/* annota module responsive css code */

@media (max-width: 600px) {

  .talents {
    font-size: 42px;
    right: 0.3em;
  }

  .talents p {
    margin-bottom: 0.3em;

  }

  .typing-container {
    max-height: 110px;
  }
}


/* CSS voor de over mij en wat ik leuk vind om te doen */

.about {
  background-color: var(--bg-color);
  margin-top: auto;
  display: flex;


}

.about-container {
  margin-left: 6.5em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin-top: 5%;

}

.about-title {
  margin-top: 1.5rem;
}

.about-languages {
  margin-top: 1.5rem;
  color: #219F94;
  font-size: 18px;
}

.about p {
  color: rgb(62, 62, 62);
  margin-top: 1em;
}

.aboutSecond-container {
  text-align: center;
  max-width: 23.875rem;

}

/* connect develop icon */
.fa-connectdevelop {
  color: #0072b1;
}

.flag {
  margin: -4px;
}

.intro-text {
  margin-top: 4%;
  margin-left: 3%;
  width: 80%;
  height: 100%;
  text-align: left;
  font-size: 110%;
}

/* responsive design css about */

@media (max-width: 600px) {
  .about {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .about-container {
    margin: 2em;

  }

  .intro-text {
    text-align: center;
    min-width: 100%;
    padding: 3%;
    margin-left: 0%;
  }
}

.divider {
  font-family: 'Nunito', sans-serif;
  display: table;
  font-size: 26px;
  text-align: center;
  width: 85%;
  margin: 60px auto;
  color: rgb(51, 51, 51);
}

.divider span {
  display: table-cell;
  position: relative;
}

.divider span:first-child,
.divider span:last-child {
  width: 40%;
  top: 27px;
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.divider span:first-child {
  background-image: -webkit-linear-gradient(180deg, transparent, #000);

}

.divider span:last-child {
  background-image: -webkit-linear-gradient(180deg, #000, transparent);

}

/* projects section */

.projects {
  font-family: 'Nunito', sans-serif;
  color: rgb(51, 51, 51);
  width: 100%;
}


.projects h2 {
  font-size: 48px;
  font-weight: 700;
  margin-left: 7.5rem;
}

.projects h1 {
  font-size: 72px;
  font-weight: 800;
  margin-left: 16.5rem;
  margin-top: 1em;
}

.project-details {
  max-width: 35%;
  padding-top: 15px;
  font-size: 120%;
  margin-left: 7.5rem;
}

.firstProject {
  float: right;
  max-width: 20%;
  margin: 2% 1% 0%;
}
.firstProjectSecond {
  float: right;
  max-width: 20%;
  margin: -5% 3% 0%;
}

.second-project {
  float: right;
  max-width: 45%;  
  max-height: 45%;
}

.second-project-second {
  float: right;
  max-width: 45%;  
  max-height: 45%;

}

/* responsive design css project section */

@media (max-width: 800px) {

  .projects h1 {
    font-size: 72px;
    margin-left: 10rem;
    
  }

  .projects h2 {
    text-align: left;
    padding: 1%;
    margin-left: 3%;
  }

  .project-details {
    text-align: left;
    min-width: 100%;
    padding: 3%;
    margin-left: 0%;
    
  }

  .firstProject {
    max-width: 35%;
    margin-bottom: 5%;
  }

  .firstProjectSecond {
    max-width: 35%;
    margin-right: 13%;
  }

  .second-project {
    max-width: 65%;
  }

  .second-project-second {
    max-width: 65%;
    margin-right: 35%;
    margin-top: -10%;

  }
}


/* contact section */

header {
  position: relative;
  margin: 150px 0 25px 0;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 35px auto;

}

input {
  font-family: 'Nunito', sans-serif;
  font-size: 0.95em;
  width: 500px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #5f5f5f;
  border-bottom: none;

  transition: all 1.5s ease-in-out;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #ffffff;
}

textarea {
  font-family: 'Nunito', sans-serif;
  width: 500px;
  max-width: 500px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  outline: none;
  color: #726659;
  font-size: 0.95em;
  border: solid 1px #5f5f5f;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #ffffff;
}

#submit {
  font-family: 'Nunito', sans-serif;
  width: 500px;
  font-size: 1em;
  color: #726659;
  outline: none;
  cursor: pointer;
  border: solid 1px #5f5f5f;
  border-top: none;
  text-align: center;
}

#submit:hover {
  color: #ffffff;
}

@media (max-width: 800px) {

  #form {
    margin: 50px 10px 35px 10px;
  }

  #submit{
    width: 400px;
  }

  #message{
    width: 400px;
  }

  #name{
    width: 400px;
  }
  #email{
    width: 400px;
  }
}

/* footer section */

.text-center {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  margin: 100px auto 15px auto;
}

.fa-linkedin-in {
  color: #0072b1;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.fa-linkedin-in:hover {
  color: #00466b;
  transition: all 1.5s ease-in-out;
}
